
# Virtual environments
venv/
.venv
env/
ENV/
env.bak/
venv.bak/
.env
# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

# Streamlit specific
.streamlit/
*.streamlit.app

# Ignore macOS metadata and documents
.DS_Store

# Ignore PDF files
*.pdf


